/* TO DO LIST
-Sistemare overflow-y navbar playlist
-Sistemare centratura mediaplayer tra cover e autore/brano
-Aggiungere effettistiche (i diventano bianchi)
-Rivedere e rifinire tutto il codice
FINE TO DO LIST */

/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}

img {
  vertical-align: middle;
}

h2, h3 {
  color: white;
  font-size: 12px;
}

p {
  color: rgba(255,255,255,0.4);
  font-size: 13px;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: rgba(255,255,255,0.4);
  font-size: 13px;
}

a:hover {
  color: white;
}

.circle-grey {
  background-color: grey;
  border-radius: 50%;
}

.center {
  text-align: center;
}

.circle-box {
  border-radius: 50%;
}

.bar {
  position: relative;
  width: 80px;
  height: 4px;
  margin: 10px;
  background-color: rgba(255,255,255,0.4);
  border-radius: 10px;
}

.bar:hover .bar-green {
  visibility: visible;
  cursor: pointer;
}

.bar-green {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: green;
  border-radius: 10px;
}

.bar-green::after {
  position: absolute;
  content: "";
  top: -3px;
  right: 0;
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
}
/* fine generali */

/* MAIN */
.navbar, main .navbar-mobile, main .music {
  float: left;
  height: calc(100vh - 70px);
  background-color: #141922;
}

/* navbar */
.navbar {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 200px;
  overflow-y: hidden;
  padding: 10px 15px;
  padding-bottom: 5px;
}

.navbar h2 {
  text-transform: uppercase;
}

.navbar .logo img {
  width: 120px;
  padding-bottom: 20px;
}

.navbar .menu img {
  width: 25px;
  margin-right: 5px;
}

.navbar .menu li {
  margin-bottom: 5px;
}

.navbar .menu li:last-child {
  margin-bottom: 20px;
}

.navbar .playlist i {
  font-size: 20px;
  color: black;
  padding: 7px;
  margin: 10px 0;
  margin-right: 5px;
  background-color: grey;
}

.navbar > div:last-child, main .navbar-mobile > div:last-child{
  margin-top: auto;
}

.navbar .account img {
  width: 20px;
  margin-right: 5px;
}

.navbar .account li:first-child {
  border-bottom: 1px solid rgba(255,255,255,0.4);
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.navbar .account li:last-child {
  padding-bottom: 0px;
}

.navbar .account li:last-child a{
  color: white;
}

/* navbar mobile */
.navbar-mobile {
  display: none;
}

/* music */
.music {
  width: calc(100% - 200px);
  overflow: auto;
}

.music .upgrade {
  position: fixed;
  top: 0%;
  right: 0%;
  display: flex;
  width: calc(100% - 200px);
  background-color: rgba(0,0,0,0.3);
  justify-content: flex-end;
  overflow: hidden;
}

.music .upgrade a {
  padding: 10px 20px;
  margin: 15px 0;
  margin-right: 15px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
}

.music .upgrade a:hover {
  font-size: 14px;
}

.music nav {
  padding-top: 75px;
  text-transform: uppercase;
}

.music nav li {
  display: inline-block;
  padding-right: 10px;
}

.music nav a {
  font-size: 10px;
}

.music nav #nav-border {
  border-bottom: 2px solid darkgreen;
}

.music .album {
  padding-left: 10px;
}

.music .album h2 {
  font-size: 18px;
  padding-top: 15px;
}

.music .box {
  display: flex;
  flex-wrap: wrap;
}

.music .box h3, main .music .box p  {
  font-size: 9px;
  padding-top: 5px;
}

.music .box .music-box {
  width: 150px;
  height: 200px;
  margin-left: 10px;
}

.music .box .music-box img {
  width: 100%;
}

.music .box .music-box .music-cover {
  position: relative;
  margin-top: 15px;
}

.music .box .music-box .music-coverimg {
  z-index: 0;
  width: 100%;
}

.music .box .music-box .music-coverplay {
  position: absolute;
  z-index: 1;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  opacity: 0;
}

.music .box .music-box .music-cover:hover .music-coverimg {
  filter: brightness(0.5);
  transition: filter 0.1s;
}

.music .box .music-box .music-cover:hover .music-coverplay {
  opacity: 1;
  cursor: pointer;
}

/* fine main */

/* FOOTER */
footer i {
  color: white;
  font-size: 10px;
  padding-left: 10px;
  vertical-align: middle;
}

footer p {
  font-size: 8px;
}
/* media player */
.mediaplayer {
  z-index: 1;
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #282828;
  justify-content: space-between;
  padding: 0 5px;
}

.mediaplayer div{
  float: left;
  margin-right: 10px;
  align-self: center;
}

.mediaplayer .song {
  flex-basis: 200px;
}

.mediaplayer .song img{
  width: 30px;
}

.mediaplayer .song i{
  color: rgba(255,255,255,0.4);
}

.mediaplayer .song #autor-white{
  color: white;
}

.mediaplayer .song-progress {
  flex-basis: 300px;
}

.mediaplayer .song-progress .nofloat {
  float: none;
}

.mediaplayer .song-progress i {
  font-size: 14px;
  padding-left: 15px;
}

.mediaplayer .song-progress > div:first-child {
  padding: 0 50px;
}

.mediaplayer .song-progress p{
  display: inline-block;
  font-size: 8px;
  color: white;
}

.mediaplayer .song-progress .bar{
  width: 200px;
}

.mediaplayer .song-progress .fa-play-circle {
  font-size: 20px;
}

.mediaplayer .song-option {
  flex-basis: 190px;
}
/* fine footer */

/* versione mobile */
@media all and (max-width: 520px) {
  .navbar {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    flex-direction: column;
    width: 50px;
    overflow: hidden;
    text-align: center;
    background-color: black;
  }

  .navbar-mobile img {
    width: 30px;
    margin-top: 5px;
  }

  .navbar-mobile div:last-child img {
    width: 20px;
    margin: 2px 5px;
  }

  .music {
    width: calc(100% - 50px);
  }

  footer i {
    padding-left: 0px;
  }

  .mediaplayer div {
    margin-right: 8px;
  }

  .mediaplayer .song p {
    max-width: 50px;
  }

  .mediaplayer .song-progress .fa-random {
    padding-left: 0px;
  }

  .mediaplayer .song-progress div:first-child {
    padding: 0px;
  }

  .mediaplayer .song-progress .bar {
    width: 90px;
  }
}
/* fine versione mobile */

/* versione tablet */
@media all and (min-width: 521px) and (max-width:991px){
}
/* fine versione tablet  */
